{% extends 'base.html' %}
{% load widget_tweaks %}

{% block titulo %}

	 Mecanico | {{ block.super }}

{% endblock titulo %}


{% block main %}
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="{{ form.nome.id_for_label }}" class="form-label">{{ form.nome.label }}</label>
            {% render_field form.nome class='form-control' placeholder='Digite o nome do Mecanico....' %}
        </div>  
    
         <div class="mb-3">
            <label for="{{ form.cnpj.id_for_label }}" class="form-label">{{ form.codigo.label }}</label>
            {% render_field form.codigo class='form-control' placeholder='Digite o codigo do mecânico....' %}
        </div>        
   
    
        <button type="submit" class="btn btn-primary"> Adcionar </button>
        <a href="lista_mecanico.html" class="btn btn-outline-secondary">Cancelar</a>
    </form>
{% endblock main %}